body{
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(245, 222, 197); */
}
.conatiner{
 
    padding: 5px;
    display: block;
    margin: 10px auto;
    width: 90%;
    background-color:  rgb(250, 236, 221);
}
.conatiner h1{
    text-align: center;
}
.con-contectus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#form{
    display: flex;
    flex-direction: row-reverse;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 5px;
}

.form-group input{
    font-family: 'Lato', sans-serif;
    border: 2px solid rgb(112, 112, 112);
    width: 60vh;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}

#contact{ 
    margin-left: 1px;

}

.cont{

    margin: 5px;
    padding: 5px;
}

.imglogo{
    width: 25px;
}

.about{
    margin-left: 7px;
}
#footer p{
    font-size: 1.5rem;
    margin-left: 20px;
    font-weight: bold;
}
#footer{
    height: 100px;
}