.thx{
    width: 80%;
    /* height: 500px; */
    margin: 20px auto;
    height: 500px;
     /* background-color: rgb(240, 226, 212); */
}

.thx p{

    margin: 10px 20px;
  font-size: 2rem;
    color: brown;
}

.home{
    text-decoration: none;
    /* float: right; */
    position: absolute;
    /* display: inline-block; */
    right: 50px;
    margin-left: 50px;
    font-size: 1.7rem;
    cursor: pointer;
    color: rgb(233, 10, 10);
}