<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" media="screen and (max-width:580px)" href="../css/bookingphpphone.css">
    <link rel="stylesheet" href="../css/bookingphp.css">
    <script src="../js/booking.js"></script>
</head>
<body>
    <nav id="navbar">
        <img src="../img/hotellogo.jpg" alt="hotelcrown" id="logo">
        <ul>
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="rooms">Rooms</a></li>
            <li class="navli"><a href="booking">Booking</a></li>
            <li class="navli"><a href="contectus">Contact us</a></li>
        </ul>
    </nav>

    
    <section>
        <div class="info"> 
        <div class="lablel">
                <label>Name:  </label>     
            </div>

            <div class="lablel">
            <label>Phone number : </label> 
            </div>

            <div class="lablel">
            <label>Email: </label> 
            </div>

            <div class="lablel">
            <label>Room Type:  </label> 
            </div>

            <div class="lablel">
            <label>Check In : </label> 
            </div>

            <div class="lablel">
            <label>Check Out : </label> 
            </div>

            <div class="lablel">
            <label>Number of room : </label> 
            </div>

            <div class="lablel">
            <label>Adult : </label> 
            </div>

            <div class="lablel">
            <label>Childer : </label> 
            </div>

            <div class="lablel">
            <label>Room Rant:  </label> 
            </div>

            
            <button class="btn">Conform</button>
        </div>

        
    </section>


    <footer id="footer">
        <p style="text-align: center;">Follow Us</p>
        <div style="margin-top: 10px; text-align: center;">
          Copyright &copy; www.hotelcrown.com |  All Rights Reserved.
    </div>
      </footer>
</body>
</html>