<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Crown</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/navbar.css">

    <link rel="stylesheet" media="screen and (max-width: 960px)" href="../css/homephone.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  

</head>
<body>

    <!-- navbar -->
    <nav id="navbar">
      <img src="../img/hotellogo.jpg" alt="hotelcrown" id="logo">
      <ul>
          <li class="navli"><a href="/">Home</a></li>
          <li class="navli"><a href="rooms">Rooms</a></li>
          <li class="navli"><a href="booking">Booking</a></li>
          <li class="navli"><a href="contectus">Contact us</a></li>
      </ul>
  </nav>

    <marquee behavior="" direction="" class="marue">Welcome to Hotel Crown ,  live like a King</marquee>
    <!-- <div id="h-section">
      <h1>Welcome To Hotel Crown</h1>
    </div> -->
    <div class="slider">
      <figure>
          <div class="style">
              <img src="../img/2.jpg" alt="">
          </div>
          <div class="style">
            <img src="../img/3.jpg" alt="">
          </div>
          <div class="style">
            <img src="../img/cq5dam.web.756.756.jpeg" alt="">
          </div>
          <div class="style">
            <img src="../img/1.jpg" alt="">
          </div>
          <div class="style">
              <img src="../img/2.jpg" alt="">
          </div>
      </figure>
  </div>


    <!-- rooms -->

    <p id="bodyp">Guest Rooms</p>
    <div class="cardcontainer">
      <div class="card">
          <img src="../img/room1.jpeg" alt="" class="h-roomimages">
          
          <hr>
          <p class="h-roomtitle">Grand Presidential Suite</p>
          <p class="h-roomabout">It offers a large lounge overlooking the gardens, extending to the terrace, a royal dining room and a master bedroom with dressing area. Many international dignitaries, celebrities have had a memorable experience during their stay.(167 Sq Mt)</p>
          <div class="h-roomicon">
            <img src="../img/area.png" alt=""><span class="h-roomiconspan">167 Sq Mt</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/wifi.png" alt=""><span class="h-roomiconspan">Complimentry WiFi</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/people.png" alt=""><span class="h-roomiconspan">Up to 3 guest</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/bedType.png" alt=""><span class="h-roomiconspan">King</span>
          </div>
          <br>
          <p style="margin-left: 2px;">Staring Rate/Night</p><span style=" font-size: 2rem; margin-left: 20px;">100,000* &#8377;</span>
          <br>
          <a href="booking"><button class="h-roombook"> Book now</button></a>
      </div>
      
      <div class="card">
        <img src="../img/room2.jpeg" alt="" class="h-roomimages">
          <hr>
          <p class="h-roomtitle">Grand Royal Suite</p>
          <p class="h-roomabout">These suites were the personal chambers of the Royal family with large French Windows over looking the gardens, provide a glimpse of royalty. These suites are equipped with a bedroom, drawing room and living room. (139-144 Sq Mt).</p>
          <div class="h-roomicon">
            <img src="../img/area.png" alt=""><span class="h-roomiconspan">139-144 Sq Mt</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/wifi.png" alt=""><span class="h-roomiconspan">Complimentry WiFi</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/people.png" alt=""><span class="h-roomiconspan">Up to 3 guest</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/bedType.png" alt=""><span class="h-roomiconspan">King</span>
          </div>
          <br>
          <p style="margin-left: 2px;">Staring Rate/Night</p><span style=" font-size: 2rem; margin-left: 20px;">80,000* &#8377;</span>
          <br>
          <a href="booking"><button class="h-roombook"> Book now</button></a>
      </div>

      <div class="card">
        <img src="../img/room3.jpeg" alt="" class="h-roomimages">
          <hr>
          <p class="h-roomtitle">Royal Suite</p>
          <p class="h-roomabout">Some of the Royal Suites were the personal chambers of the Maharaja of Jaipur. The décor with transports to the bygone era of the royalty. These are 1 room suites divided into a living area and a bedroom. (102-107 Sq Mt)</p>
          <div class="h-roomicon">
            <img src="../img/area.png" alt=""><span class="h-roomiconspan">102-107 Sq Mt</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/wifi.png" alt=""><span class="h-roomiconspan">Complimentry WiFi</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/people.png" alt=""><span class="h-roomiconspan">Up to 3 guest</span>
          </div>
          <div class="h-roomicon">
            <img src="../img/bedType.png" alt=""><span class="h-roomiconspan">King</span>
          </div>
          <br>
          <p style="margin-left: 2px;">Staring Rate/Night</p><span style=" font-size: 2rem; margin-left: 20px;">60,000* &#8377;</span>
          <br>
          <a href="booking"><button class="h-roombook"> Book now</button></a>
      </div>
    </div>

    
    <a href="rooms" class="h-viewmore">View more Rooms <img src="../img/enter.png" alt="" width="25px"></a>
    <br>
    <br>

    <!-- Hotel Facilities -->
 
    <p id="bodyp">Hotel Facilities </p>
    <div class="facility">
      <div class="faclity-card">
        <div class="faccardpara">
        <div class="faccardpara1">
          <h1>Transports</h1>
        </div>
        <div class="faccardpara2">
          <p>We provide pickup and drop service through luxury cars from Hotel to Airport , railway Station , Bus station.we have best experiance drivers.No extra charges for the services</p>
        </div>
        </div>
        <div class="faccardimg">
          <img src="../img/car.jpg" alt="">
        </div>
      </div>

      <div class="faclity-card imgleft">
        <div class="faccardpara">
         <div class="faccardpara1">
          <h1>Spa</h1>
         </div>
          <div class="faccardpara2">
          <p>The Crown Spa offers a dynamic, client centered philosophy, rooted in an awareness of the value of a balanced approach to enhance your lifestyle and give you rewarding experiences time and again. Our team of expert practitioners know that a skilful healing touch, nurturing environment, cleansing, exercise, yoga, massage, good nutrition, and deep relaxation are the essential elements in maintaining wellness in body, mind and soul. Sufi, our award winning signature product brand include 100% organic massage and bath oils for our signature therapies and are available for retail.</p>
         </div>    
        </div>
        <div class="faccardimg">
          <img src="../img/spa.jpg" alt="">
        </div>
      </div>

      <div class="faclity-card">
        <div class="faccardpara">
         <div class="faccardpara1">
          <h1>Functional Zone</h1>
         </div> 
         <div class="faccardpara2">
          <p>Revolutionize your fitness regime at our Functional Zone which offers endless potential to explore all areas of funcitonal and ability training with best in class equipment from Technogym.</p>
         </div>
        </div>
        <div class="faccardimg">
          <img src="../img/gym.jpg" alt="">
        </div>
      </div>
    
    </div>

    <!-- map -->

    <div>
      <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.169663001567!2d75.80596111452027!3d26.898110067195184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db41f78970ac5%3A0xe9eef625b7f871c!2sRambagh%20Palace%2C%20Jaipur!5e0!3m2!1sen!2sin!4v1600659020589!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
    </div>
   <hr>

    <!-- footer -->
    <footer id="footer">
      <p style="text-align: center;">Follow Us</p>
      <div style="margin-top: 10px; text-align: center;">
        Copyright &copy; www.hotelcrown.com |  All Rights Reserved.
  </div>
    </footer>
</body>
</html>