<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/pdf.css" >
    <script src="../js/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

</head>

<body>
    <!-- <div class="container d-flex justify-content-center mt-50 mb-50"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-12 text-right mb-3"> -->
                <button  id="download"> download pdf</button>
            <!-- </div> -->
            <!-- <div class="col-md-12"> -->
                <div class="card" id="invoice">
                    <div >
                        <h2>OTHER CONVENIENCES</h2>
                        <p>24-hour in-room dining <br>
                            Premium Wi-Fi at nominal charge <br>
                            Complimentary newspapers <br>
                            Daily housekeeping & turndown service <br>
                            24-hour laundry service <br>
                            24-hour on-call doctor & nurse <br>
                            Tea-coffee maker <br>
                            Dual line telephones with voicemail & data capabilities <br>
                            Forest Essentials bath amenities <br>
                            Plush bathrobes & slippers <br>
                            Complimentary basic Wi-Fi <br>
                            Well-stocked minibar <br>
                            Yoga kit on request <br>
                            24-hour personalised butler service <br>
                            Bath butler <br>
                            Large flat-screen LCD TVs <br>
                            Iron & ironing board on request <br>
                            Red marble bathroom with Jacuzzi & double sinks <br>
                            Large flat-screen LCD TVs DVD player on request <br>
                            Living room with powder room, bedroom with dressing area & bathroom <br>
                            Bath menu & bath salts on request <br>
                            Posturepedic mattresses and Italian bed linen. <br>
                            Backlit makeup mirror.</p>
                    </div>
                    
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</body>

</html>