<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thnx</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" media="screen and (max-width:580px)" href="../css/bookingphpphone.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tnx.css">

</head>
<body>
    <nav id="navbar">
        <img src="../img/hotellogo.jpg" alt="hotelcrown" id="logo">
        <ul>
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="rooms">Rooms</a></li>
            <li class="navli"><a href="booking">Booking</a></li>
            <li class="navli"><a href="contectus">Contact us</a></li>
        </ul>
    </nav>
    <section>
        <div class="thx">
            <p>Your room has been Reserved . Thank you for reserved your room</p>
            <a href="/" class="home">Go to Home <img src="../img/enter.png" alt="" width="25px"></a>
        </div>
       
    </section>
   
    <footer id="footer">
        <p style="text-align: center;">Follow Us</p>
        <div style="margin-top: 10px; text-align: center;">
          Copyright &copy; www.hotelcrown.com |  All Rights Reserved.
    </div>
      </footer>
</body>
</html>